@{
    ViewData["Title"] = "Home";
    ViewBag.Title = "Joel Hilton Movie Collection";
}

<div class="text-center">
    <p>Welcome to the Joel Hilton Movie Collection.</p>
    <br />
    <img class="rounded" width="700" src="~/img/JoelHilton.jpg" />
</div>



