@{
    ViewData["Title"] = "Podcasts";
    ViewBag.Title = "Joel Hilton Podcasts";
}

<div class="text-center">
    <p>As if my movies weren't enough, come check out some awesome podcasts!</p>
    <br />
    <br />
    <br />
    <a target="_blank" class="btn btn-lg btn-primary btn-outline-danger" href="https://baconsale.com/">CLICK HERE!</a>
    <br />
    <small>(Not clickbait)</small>
</div>